@page
@model BadMintonBookingRazorWebApp.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Court</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Court.CourtId" class="control-label"></label>
                <input asp-for="Court.CourtId" class="form-control" />
                <span asp-validation-for="Court.CourtId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Court.CourtName" class="control-label"></label>
                <input asp-for="Court.CourtName" class="form-control" />
                <span asp-validation-for="Court.CourtName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Court.Location" class="control-label"></label>
                <input asp-for="Court.Location" class="form-control" />
                <span asp-validation-for="Court.Location" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Court.IsActive" /> @Html.DisplayNameFor(model => model.Court.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Court.Status" class="control-label"></label>
                <input asp-for="Court.Status" class="form-control" />
                <span asp-validation-for="Court.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Court.Descrip" class="control-label"></label>
                <input asp-for="Court.Descrip" class="form-control" />
                <span asp-validation-for="Court.Descrip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Court.OwnerName" class="control-label"></label>
                <input asp-for="Court.OwnerName" class="form-control" />
                <span asp-validation-for="Court.OwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Court.Seats" class="control-label"></label>
                <input asp-for="Court.Seats" class="form-control" />
                <span asp-validation-for="Court.Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Court.BadmintonNet" class="control-label"></label>
                <input asp-for="Court.BadmintonNet" class="form-control" />
                <span asp-validation-for="Court.BadmintonNet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Court.Area" class="control-label"></label>
                <input asp-for="Court.Area" class="form-control" />
                <span asp-validation-for="Court.Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
